<div class="fixeSubHeader">
  <div class="titleHead changesPassText">Change Password</div>
</div>
<div class="main-content">
  <form [formGroup]="changepassForm" (ngSubmit)="submitForPasswrd()" class="changesPass">
    <div class="row">
      <div class="col-md-6 order-status">
        <div class="input-group no-border">
           <input type="password" value="" class="form-control" placeholder="Current Password" formControlName="currentPass">
        </div>
         <div *ngIf="!changepassForm.controls['currentPass'].valid&&changepassForm.controls['currentPass'].dirty">
                      <span class="text-capitalize small text-danger"
                        *ngIf="changepassForm.controls['currentPass'].errors['required']"
                        class="small redlabe text-danger">current Password is required</span>
          </div>
     </div>
     <div class="col-md-6 order-status">
      <div class="input-group no-border">
         <input type="password" value="" class="form-control" placeholder="New Password" formControlName="newPass">
          

      </div>
     <div class="small"
                    *ngIf="!changepassForm.controls['newPass'].valid&&changepassForm.controls['newPass'].dirty">
                    <span *ngIf="changepassForm.controls['newPass'].errors['required']"
                      class="small redlabe text-danger">Password cannot be left blank</span>
                    <span *ngIf="changepassForm.controls['newPass'].errors['minlength']"
                      class="small redlabe text-danger">password must be atleast 6 characters</span>
                    <span
                      *ngIf="changepassForm.controls['newPass'].errors['pattern']&&!changepassForm.controls['newPass'].errors['minlength']"
                      class="small redlabe text-danger">Password must contain at least 6 characters including 1
                      uppercase and 1 lowercase letter, 1 special character and 1 number</span>
                  </div>
                    <div id="progress">
                    <span id="result">
                    </span>
                  </div> 
   </div>
    
 </div>
 <div class="row">
  <div class="col-md-6 order-status">
    <div class="input-group no-border">
       <input type="password" value="" class="form-control" placeholder="Confirm New Password" formControlName="newConfirmPass">          
    </div>
 <div class="small redlabe text-danger"
                    *ngIf="!changepassForm.controls['newConfirmPass'].valid&&changepassForm.controls['newConfirmPass'].dirty"
                    class="p-2 w-100 rounded small login_input">
                  </div>
           <div *ngIf="changepassForm.controls['newConfirmPass'].dirty&&changepassForm.hasError('mismatchedPasswords')">
                    <span class="small redlabe text-danger"> Password do not match.</span>

    </div>

</div>
<div class="col-md-2">
  <div class="input-group no-border">
     <button class="btn btn-primary viewBtn">Save</button>
  </div>
</div>
</div>
</form>
<div class="row order-status">
  <footer class="footer">
    <div class="container-fluid">
      <div class="copyright" style="float: left;">
             All Rights Reserved. Copyright 2020
         </div>
     </div>
 </footer>
</div>
</div>
<br>

       



