

<div class="fixeSubHeader" >
   <div>
   <div class="row mt-3">
     <div class="col-md-3">
       <div class="titleHead">Node Tracing</div>
     </div> 
      <div class="col-md-9">
        <div class="nodetracing-date">
            <label class="cus-lable">From Date <span class="text-danger">*</span></label>
            <input type="date" value="" class="form-control" placeholder="Date" [(ngModel)]="fromDate" [ngModelOptions]="{standalone: true}" placeholder="From">
            <label class="cus-lable">To Date <span class="text-danger">*</span></label>
            <input type="date" value="" class="form-control" placeholder="Date" [(ngModel)]="toDate" [ngModelOptions]="{standalone: true}">
            <button class="ndsbtn" (click)="getnodeGraphTracing()">Search</button>  
        </div>
    </div>
    </div>
   </div>
 </div>

<!--    <div class="fixeSubHeader" *ngIf="eClass!='EN'">
   <div>
   <div class="row mt-12">
     <div class="col-md-6" style="display: flex;">
       <span class="titleHead">Node Tracing</span>    
       <input class="form-control custom-form-control p-2 small login_input inp-wrap enterId" placeholder="Enter entity id" type="text" (input)="activeEntityId($event.target.value)" list="searchStr" [(ngModel)]="idEntity" onkeypress="return event.charCode >= 48 && event.charCode <= 57" autocomplete="nope" [ngModelOptions]="{standalone: true}" numbersOnly >
       <datalist id="searchStr" style="background-color:#fff!important">
        <option *ngFor="let list of entityData" [value]="list.peid">{{list.businessName}}({{list.peid}})</option>
       </datalist>  
     </div> 
      <div class="col-md-6">
        <div class="nodetracing-date">
            <label class="cus-lable">From Date <span class="text-danger">*</span></label>
            <input type="date" value="" class="form-control" placeholder="Date" [(ngModel)]="fromDate" [ngModelOptions]="{standalone: true}" placeholder="From">
            <label class="cus-lable">To Date <span class="text-danger">*</span></label>
            <input type="date" value="" class="form-control" placeholder="Date" [(ngModel)]="toDate" [ngModelOptions]="{standalone: true}">
            <button class="ndsbtn" (click)="getnodeGraph()">Search</button>  
        </div>
       
    </div>
    </div>
   </div>
 </div> -->



<div class="main-content isMobileModeTrace">
   <div>
    <div class="card" *ngIf="!nodeLength">
  <div class="no-data" >
               <h4 class="error-heading">Oops!</h4>
               <div> No Node Tracing Data Found</div>
             </div>
      </div> 
      
  
   	  <div class="card" >
           


              
          <div id="sample">
            <div style="width:100%">
                <div id="myDiagramDiv" style="border: solid 0px black; width:100%; height:550px; display: inline-block; vertical-align: top;"></div>
                <!-- <div id="infobox" style="display: inline-block; vertical-align: top; width: 256px; background: #757575; color: #FFF; padding: 20px;">
                  <img id="Image" width="216" alt="" src="">
                  <h3 id="Title"></h3>
                  <p id="Description">Select a node to see more information.</p>
                </div> -->
            </div>
            <div>
              
             <textarea id="mySavedModel" style="display: none;margin-left: 500px" >
               {{nodeData }}
              </textarea>
            </div>
          </div>


       
      </div>
      
      <footer class="footer">
         <div class="copyright" style="float: left;">
            All Rights Reserved. Copyright 2020 
        </div>
      </footer>
   </div>
</div>


<div class="modal fade" id="sharedModal" data-backdrop="static" tabindex="-1" role="dialog"
  aria-labelledby="emailModalCenterTitle" aria-hidden="true" style="padding-left: 0px; left:-49px;">
  <div class="modal-dialog modal-md modal-dialog-centered" role="document" style="width: 710px;">
    <div class="modal-content" style="width: 710px;">
    <i class="material-icons mr-2 popupCross" data-dismiss="modal" style="cursor: pointer" >close</i>
  
    <div class="modal-body" style="width: 710px;">
        <div class="container-fluid"> 
          <div class="card">
           <div id="sample">
            <div style="width:100%">
                
                <div id="infobox" style="display: inline-block; vertical-align: top; width: 256px; background: #757575; color: #FFF; padding: 20px;">
                  <img id="Image" width="216" alt="" src="">
                  <h3 id="Title"></h3>
                  <p id="Description">Select a node to see more information.</p>
                </div>
            </div>
            <div>
              
         <!--     <textarea id="mySavedModel" style="display: none;margin-left: 500px" >
               {{nodeData }}
              </textarea> -->
            </div>
          </div>
         </div>     
        </div>     
      </div>
    </div>
  </div>
</div>